body {
	background-color: tan;
	background-image: url("mainPage.jpg");
     background-repeat: no-repeat;
	background-size:  90% 100%;
	background-position: top center;
	height: 100%
	min-height: 100%;
	}
h1, h2, h3, h4, h5, h6 {
	color: white;
	}
	
.feature {
	background-color: #90b2ed;
	color: white;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: rgb(144, 178, 236);
    color: white;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

#gauge {
 color: black;
  background-color: sienna;
  width: 250px;
  height: 150px;
 position: center center;
  border-color: #000000;
  border: 1px solid #999999;
  padding: 10px;
  margin: 10px;
}

#div_bg {
	height: 200px;
	width: 600px;
	background-size:  90% 100%;
	#background-image: url('mainPage.jpg');
	background-repeat: no-repeat;
	#background-position: center; 
}
